 <ul>
  <li><t>id:</t> {{file.id}}</li>
  <li><t>name:</t> {{file.name}}</li>
  <li><t>path:</t> {{file.path}}</li>
  <li><t>size:</t> {{file.size}}</li>
  <li><t>type:</t> {{file.type}}</li>
  <li><t>savedate:</t> {{file.savedate}}</li>
</ul>
